@use "/src/styles/variables.scss" as *;

.MainPage {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    gap: $spacing-xs;

    .button {
        @include button-color();
        width: $button-mediun;
        text-decoration: none;
      }
}
