@use "/src/styles/variables.scss" as *;

.Footer {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  justify-content: center;
  align-items: center;
  padding: 16px;

  position: fixed;
  bottom: 0;

  .button {
    @include button-transparent();
    width: $button-mediun;
  }
  .buttonSmall {
    @include button-transparent();
    width: $button-small;
  }
}
